.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #FFF;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.well.profile-contact-info {
  background-color: #5BC0DE;
  border-color: #46B8DA;
}